* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    margin: 10px;
    padding: 10px;
    background-color: green;
}

label{
    text-align: right;
}

#left, #right{
    height: 600px;
}


#container{
    margin-left: 21%;   
    margin-right: 21%;
    background-color: rgb(11, 156, 11);
    color:white;  
}

button{
    margin-left: 5px;
}

li {
    cursor: pointer;
}

.errorMessage{
    color:	#800033;
}