    .rightContainer{
        text-align: center;
        padding: 5%;
        padding-top: 3%;
    }

    #utropsPris{
        width: 25px;
        height: 80px;
        border: 1px solid black;
        margin-bottom: 30px;
    }

    #auctionTitle {
        font-family: 'Indie Flower', cursive;
    }

    #bud{
        height: 210px;
        overflow-y: scroll;
        margin: auto;
        background-color: green;
        max-width: 100%;
        border-radius:5px;
        font-size: 1.2rem;
    }
    .leftRow1{
        height:50px;
        margin-bottom: 15px;
        border: 1px solid black;
        background-color:rgb(11, 156, 11);
    }

    .leftRow2{
        height:50px;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    .leftRow3{
        height:300px;
        margin-bottom: 15px;
        width: 450px;
        border: 1px solid black;
    }
                    
    .leftRow4{
        border: 1px solid black;
        height:140px;
    }

    .paddingCards {
        padding: 25px;
    }

    button[disabled=disabled], button:disabled {
       cursor: auto;
    }

    .errorMessage {
        font-size: 15px;
        color: red;
    }

    #container {
        background-color: green;
    }

    .mainRow{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        background-color: green;
        margin-bottom:2rem;
        padding:1rem;
    }

    #rightDiv {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        background-color: rgb(11, 156, 11);
        border-radius: 5px;
        padding: 2rem;
    }

    .contentrow{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    .bid-text, .price-text{
        text-align:center;
        margin:1rem;
    }

    .bid-col{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        border-radius:5px;
    }
    .amount-bid-box{
      background-color: green;
    }

    .price-col{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        border-radius:5px;
        margin-bottom:1rem;
        
    }
    .price-box{
        background-color: green;
        
    }

    .test{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }